:root {
    --background-small: #869FDE;
    --label-color: #953D60;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family:"Sansita", sans-serif;
    box-sizing: border-box;
    background-color: var(--background-small);
}
header {
    background-color: #293380;
    padding: 15px;
    color: #F0EFF7;
}
h1 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
main {
    max-width: 100%;
}
h2 {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}
img { 
    height: 50%;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.data {
    justify-content: center;
    align-items: center;
}
.icon {
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.weather {
    justify-content: center;
    align-items: center;
}
h3 {
    font-weight:bolder;
    text-align:center;
    padding: 0;
}
p {
    font-weight:lighter;
    display: inline-block;
    margin: 10px 10px;
    padding: 0;
}
footer {
    background-color: #293380;
    color: #F0EFF7;
    text-align: center;
    align-content: center;
    justify-items: center;
    padding: 2rem;
}