body {
    font-family: "Roboto", sans-serif;
}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 5px;
    padding: 1rem;
    background-color: skyblue;
}
main {
    display: grid;
    grid-template: 1fr;
    grid-gap: 1rem;
}
section {
    padding: 1rem;
    background-color: azure;
}